<div class="container-fluid">
    <app-main-title></app-main-title>
    <div class="container-xl section-text section-primary">
        <div class="row mb-2 px-5">
            <div class="col-12 col-lg-6">
                <p>Olá! Venha conhecer o Instituto Ortorrino :)</p>
                <h2>Aqui você conhecerá os exames disponíveis e alguns tratamentos cirúrgicos!</h2>
            </div>
        </div>
        <div class="row px-5">
            <div class="col-12 col-lg-6">
                <p>O <b>Instituto Otorrino</b> foi criado para oferecer mais comodidade e eficiência no cuidado com a sua
                    saúde. Aqui, além de consultas médicas especializadas, você pode realizar exames específicos em
                    Otorrinolaringologia, garantindo um <b>atendimento completo</b> em um único lugar.
                </p>
            </div>
            <div class="col-12 col-lg-6">
                <p>Além disso, <b>nossa equipe médica é altamente capacitada</b> para realizar tanto tratamentos clínicos
                    quanto cirúrgicos, proporcionando um cuidado integral e personalizado para cada paciente.</p>
            </div>
        </div>
    </div>

    
</div>