<mat-toolbar color="primary" class="toolbar">
    <a routerLink="/" class="logo-link">
        <img src="/images/logo.png" alt="iOtorrino" class="logo">
    </a>

    <!-- @if para mostrar links no desktop -->
    @if (!isMobile) {
    <div class="nav-links">
        <a mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a mat-button routerLink="/tratamentos" routerLinkActive="active-link">Tratamentos</a>
        <a mat-button routerLink="/exames" routerLinkActive="active-link">Exames</a>
        <a mat-button routerLink="/artigos" routerLinkActive="active-link">Artigos</a>
        <a mat-button routerLink="/contato" routerLinkActive="active-link">Contato</a>
    </div>
    }

    <!-- @if para mostrar ícone hambúrguer no mobile -->
    @if (isMobile) {
    <button mat-icon-button class="menu-button" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    }
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" position="end" class="sidenav">
        <mat-nav-list>
            <a mat-button routerLink="/" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }">Home</a>
                <a mat-button routerLink="/tratamentos" routerLinkActive="active-link">Tratamentos</a>
                <a mat-button routerLink="/exames" routerLinkActive="active-link">Exames</a>
                <a mat-button routerLink="/artigos" routerLinkActive="active-link">Artigos</a>
                <a mat-button routerLink="/contato" routerLinkActive="active-link">Contato</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>