<div class="container-fluid">
    <app-main-title></app-main-title>
    <div class="container-xl section-text section-primary">
        <div class="row mb-2 px-5">
            <div class="col-12 col-lg-6">
                <p>Veja nossos artigos</p>
                <h2>Conheça mais sobre a otorrinolaringologia</h2>
            </div>
        </div>
    </div>

    <div class="container-xl section-text section-quaternary mt-5">
        <div class="row mb-2 px-5">
            <div class="col-12 col-lg-6">
                <p>Tratamentos oferecidos</p>
                <h2>Confira também a lista completa de tratamentos :)</h2>
            </div>
        </div>
        <div class="row px-5">
            <div class="col-12 col-lg-6">
                <p>O Instituto Otorrino foi criado com o objetivo de facilitar a vida do paciente, aqui ele tem a opção
                    de, além do atendimento, realizar seus exames, fazer terapias fonoaudiólogas e receber
                    encaminhamento cirúrgico, tudo no mesmo local!
                </p>
                <p>Contamos com profissionais na área de Otorrinolaringologia, dispondo dos mais modernos tratamentos
                    para atender de forma personalizada a todos os pacientes.
                </p>
            </div>
            <div class="col-12 col-lg-6">
                <p>Oferecemos tratamentos para ronco em adultos e crianças, apnéia do sono, nariz entupido, rinite,
                    sinusite, refluxo, rouquidão, engasgos, tontura, zumbidos, perda auditiva, dor de ouvido,
                    adenoamigdalectomia, correção de desvio de septo e turbinectomia e muito mais.
                </p>
            </div>
        </div>
    </div>

    <div class="container-xl section-text section-tertiary mt-5">
        <div class="row mb-2 px-5 justify-content-end text-end">
            <div class="col-12 col-lg-6">
                <p>Encontre-nos</p>
                <h2>Clique no mapa e encontre a melhor rota para chegar no IO!</h2>
            </div>
        </div>
    </div>
</div>