<div class="container-fluid">
    <app-main-title></app-main-title>
    <div class="container-xl section-text section-primary">
        <div class="row mb-2 px-5">
            <div class="col-12 col-lg-6">
                <p>Olá! Venha conhecer o Instituto Otorrino :) </p>
                <h2>Aqui você poderá conhecer o Instituto Otorrino e quem nós somos!</h2>
            </div>
        </div>
        <div class="row px-5">
            <div class="col-12 col-lg-6">
                <p>Criamos o <b>Instituto Otorrino</b> para oferecer um atendimento completo e prático, facilitando a
                    vida dos nossos pacientes. Aqui, você encontra consultas médicas especializadas, realiza exames e,
                    se necessário, recebe encaminhamento cirúrgico — <b>tudo no mesmo local</b>, com conforto e
                    eficiência.</p>
                <p>Nossa equipe conta com <b>especialistas</b> em <b>Otorrinolaringologia</b>, sempre atualizados com os
                    mais modernos tratamentos para cuidar da sua saúde de forma personalizada.</p>
            </div>
            <div class="col-12 col-lg-6">
                <p>Tratamos diversas condições, como ronco em adultos e crianças, apneia do sono, nariz entupido,
                    rinite, sinusite, refluxo, rouquidão, engasgos, tontura, perda auditiva, dor de ouvido, obstrução
                    nasal e muito mais.</p>
                <p>Agende sua consulta e <b>cuide da sua saúde</b> com quem entende do assunto!</p>
            </div>
        </div>
        <div class="row px-5 mt-5 justify-content-end text-end">
            <div class="col-12 col-lg-6">
                <p>O corpo clínico</p>
                <h2>Conheça nossos especialistas que cuidam de você!</h2>
            </div>
        </div>
    </div>

    <div class="container-xl section-text section-quaternary mt-5">
        <div class="row mb-2 px-5">
            <div class="col-12 col-lg-6">
                <p>Tratamentos oferecidos</p>
                <h2>Confira também a lista completa de tratamentos :)</h2>
            </div>
        </div>
        <div class="row px-5">
            <div class="col-12 col-lg-6">
                <p>O Instituto Otorrino foi criado com o objetivo de facilitar a vida do paciente, aqui ele tem a opção
                    de, além do atendimento, realizar seus exames, fazer terapias fonoaudiólogas e receber
                    encaminhamento cirúrgico, tudo no mesmo local!
                </p>
                <p>Contamos com profissionais na área de Otorrinolaringologia, dispondo dos mais modernos tratamentos
                    para atender de forma personalizada a todos os pacientes.
                </p>
            </div>
            <div class="col-12 col-lg-6">
                <p>Oferecemos tratamentos para ronco em adultos e crianças, apnéia do sono, nariz entupido, rinite,
                    sinusite, refluxo, rouquidão, engasgos, tontura, zumbidos, perda auditiva, dor de ouvido,
                    adenoamigdalectomia, correção de desvio de septo e turbinectomia e muito mais.
                </p>
            </div>
        </div>
    </div>

    <div class="container-xl section-text section-tertiary mt-5">
        <div class="row mb-2 px-5 justify-content-end text-end">
            <div class="col-12 col-lg-6">
                <p>Encontre-nos</p>
                <h2>Clique no mapa e encontre a melhor rota para chegar no IO!</h2>
            </div>
        </div>
    </div>
</div>